p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
select {
  color: white;
}

.search,
.category,
.location,
.dropdown-toggle,
option {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 20px;
  padding: 7px;
  padding-left: 15px;
  border-top: 1px solid rgba(255, 255, 2555, 0.15);
  border-left: 1px solid rgba(255, 255, 2555, 0.15);
  background-color: rgba(255, 255, 255, 0.5);
}

.medium {
  padding: 0;
}

option {
  cursor: pointer;
  margin-top: 0.2rem;
}

.dropdown-menu {
  background: transparent;
  border: none;
}

.profile {
  background: transparent;
  border: none;
  border-radius: 10rem;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 3rem;
  backdrop-filter: blur(20px);
  border-top: 1px solid rgba(255, 255, 2555, 0.15);
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.del:hover {
  background-color: rgba(245, 16, 16, 0.781);
}

.store {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media (max-width : 768px) {

  #profile-menu {
    position: absolute !important;
    left: -2.2rem !important;
  }

}

@media (min-width: 768px) {
  .medium {
    padding: 0.5rem 0;
  }
}

@media (min-width: 1020px) {
  .medium {
    padding: 0;
  }
}
