.dropdown-toggle,
option {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 20px;
  padding: 7px;
  padding-left: 15px;
  border-top: 1px solid rgba(255, 255, 2555, 0.15);
  border-left: 1px solid rgba(255, 255, 2555, 0.15);
  background-color: rgba(255, 255, 255, 0.5);
}

option {
  cursor: pointer;
  margin-top: 0.2rem;
}

.dropdown-menu {
  background: transparent;
  border: none;
}

.input-field {
    color: black;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 20px;
    padding: 7px;
    padding-left: 15px;
    border-top: 1px solid rgba(255, 255, 2555, 0.15);
    border-left: 1px solid rgba(255, 255, 2555, 0.15);
    background-color: rgba(255, 255, 255, 0.5);
  }