<!-- <header>
    <div class="row bar">


        <div class="col-sm-4 d-flex justify-content-around">
            <div class="row p-2">
                <a class="mr-5" routerLink="/home"><img src="../../assets/images/logo.png" alt="" class="logo"
                        height="50px"></a>

                <div class="dropdown ml-5" style="margin-top: -0.7rem;">
                    <button class="btn btn-secondary profile" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{icon}}" alt="" class="logo" height="50px" style="border-radius: 50%;">
                    </button>
                    <div class="dropdown-menu" id="profile-menu" aria-labelledby="dropdownMenuButton">
                        <option class="dropdown-item" value="login" routerLink="/auth" *ngIf="!loggedIn">Login</option>
                        <option class="dropdown-item" value="profile" routerLink='/profile'>Profile</option>
                        <option class="dropdown-item" value="orders" routerLink="/orders">Order History</option>
                        <option class="dropdown-item" value="signout" (click)="signout()" *ngIf="loggedIn">Sign out
                        </option>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-4 text-center" id="search" style="margin-top: 0.3rem;">
            <div class="row justify-content-between">
                <input type="search" placeholder="Search your need..." class="search" style="width: 92%;" *ngIf="accountType == 'customer'">
                <button class="btn btn-lg btn-warning" *ngIf="accountType == 'seller'">All Orders</button>
                <button class="btn btn-lg btn-warning" *ngIf="accountType == 'seller'" routerLink='/products'>Manage Products</button>
            </div>
            
        </div>


        <div class="col-sm-4 float-right" *ngIf="accountType == 'seller'" style="margin-top: 0.3rem;">
            <button class="btn btn-lg btn-danger">Sign Out</button>
        </div>
        <div class="col-sm-4  d-flex justify-content-around">
            <div class="row" style="padding: 0.4rem 0.2rem;">
                <div class="dropdown mr-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{category}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" (click)="getCategory($event)">
                        <option class="dropdown-item" value="restaurants">Restaurants</option>
                        <option class="dropdown-item" value="groceries">Groceries</option>
                        <option class="dropdown-item" value="pharmacy">Pharmacy</option>
                    </div>
                </div>

                <div class="dropdown ml-5">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        [disabled]="!category_selected" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" (click)="getStores()">
                        <img src="../../assets/images/location.svg" alt="" class="mr-2" style="height: 25px;"> Location
                    </button>
                    <div class="dropdown-menu" id="location-menu" aria-labelledby="dropdownMenuButton">
                        <option class="dropdown-item" value="delhi">New Delhi</option>
                        <option class="dropdown-item" value="mumbai">Mumbai</option>
                        <option class="dropdown-item" value="hyderabad">Hyderabad</option>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header> -->


<div class="container-fluid mt-2">
    <div class="row">

        <div class="col-md-4">
            <div class="row justify-content-around px-3 py-1">
                <img src="../../assets/images/logo.png" height="50px" alt="" routerLink='/'>

                <div class="dropdown ml-5 medium" style="margin-top: -0.7rem;">
                    <button class="btn btn-secondary profile" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{icon}}" alt="" class="logo" height="50px" style="border-radius: 50%;">
                    </button>
                    <div class="dropdown-menu" id="profile-menu" aria-labelledby="dropdownMenuButton">
                        <option class="dropdown-item" value="login" routerLink="/auth" *ngIf="!loggedIn">Login</option>
                        <option class="dropdown-item" value="profile" routerLink='/profile'>Profile</option>
                        <option class="dropdown-item" value="orders" routerLink="/orders">Order History</option>
                        <option class="dropdown-item" value="signout" (click)="signout()" *ngIf="loggedIn">Sign out
                        </option>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row justify-content-around px-3 py-1" *ngIf="accountType == 'customer'">
                <input type="search" placeholder="Search your need..." class="search" style="width: 90%;" *ngIf="accountType == 'customer'">
            </div>
            <div class="row justify-content-center px-3 py-1" *ngIf="accountType == 'seller'">
                <button class="btn btn-lg btn-warning">All Orders</button>
                <button class="btn btn-lg btn-warning" routerLink='/products'>Manage Products</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row justify-content-around px-3 py-1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{category}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" (click)="getCategory($event)">
                        <option class="dropdown-item" value="restaurants">Restaurants</option>
                        <option class="dropdown-item" value="groceries">Groceries</option>
                        <option class="dropdown-item" value="pharmacy">Pharmacy</option>
                    </div>
                </div>

                <div class="dropdown medium">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        [disabled]="!category_selected" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" (click)="getStores()">
                        <img src="../../assets/images/location.svg" alt="" class="mr-2" style="height: 25px;"> Location
                    </button>
                    <div class="dropdown-menu" id="location-menu" aria-labelledby="dropdownMenuButton">
                        <option class="dropdown-item" value="delhi">New Delhi</option>
                        <option class="dropdown-item" value="mumbai">Mumbai</option>
                        <option class="dropdown-item" value="hyderabad">Hyderabad</option>
                    </div>
                </div>

            </div>
        </div>




    </div>
</div>