.del:hover {
    background-color: rgba(245, 16, 16, 0.781);
}

.reset:hover {
    background-color: rgb(59, 107, 180);

}

.ref {
    position: relative;
    text-align: center;
}

.text {
    position: absolute;
    top: 14rem;
    left: 9rem;
}

