<div class="container mt-4 mb-5" *ngIf="accountType == 'customer'">
    <!-- Heading -->
    <div class="row text-center">
        <div class="col">
            <h1>One Place for all your daily Needs</h1>
        </div>
    </div>
    <!-- Food Section Recommendation -->
    <div class="row pl-4">
        <h3>Order your favorite cuisines</h3>
        <div class="container-1 glass" style="border-radius: 3rem 3rem 0.5rem 0.7rem;">
            <div>
                <img src="../../assets/images/restaurant/food1.jpg" alt="">
                <h5 class="pl-5">Salad</h5>
            </div>
            <div>
                <img src="../../assets/images/restaurant/food2.jpg" alt="">
                <h5 class="pl-5">Curry</h5>
            </div>
            <div>
                <img src="../../assets/images/restaurant/pexels-cats-coming-674574.jpg" alt="">
                <h5 class="pl-5">Idli</h5>
            </div>
            <div>
                <img src="../../assets/images/restaurant/pexels-marvin-ozz-2474661.jpg" alt="">
                <h5 class="pl-5">Kadhai Paneer</h5>
            </div>
            <div>
                <img src="../../assets/images/restaurant/pexels-rajesh-tp-1624487.jpg" alt="">
                <h5 class="pl-5">Biryani</h5>
            </div>
        </div>
    </div>
    <!-- Grocery Section Recommendation -->
    <div class="row pl-4 mt-4 pt-4">
        <h3>Get your Groceries at your door step</h3>
        <div class="container-1 glass" style="border-radius: 3rem 3rem 0.5rem 0.7rem;">
            <div>
                <img src="../../assets/images/groceries/aashirvad.jpg" alt="">
                <h5 class="pl-5">Wheat Flour</h5>
            </div>
            <div>
                <img src="../../assets/images/groceries/butter.jpg" alt="">
                <h5 class="pl-5">Amul Butter</h5>
            </div>
            <div>
                <img src="../../assets/images/groceries/milk.jpg" alt="">
                <h5 class="pl-5">Milk</h5>
            </div>
            <div>
                <img src="../../assets/images/groceries/rice.jpg" alt="">
                <h5 class="pl-5">Rice</h5>
            </div>
            <div>
                <img src="../../assets/images/groceries/pepper.png" alt="">
                <h5 class="pl-5">Black Pepper</h5>
            </div>
            <div>
                <img src="../../assets/images/groceries/vegies.jpg" alt="">
                <h5 class="pl-5">Vegetables</h5>
            </div>

        </div>
    </div>
    <!-- Healthcare Section Recommendation -->
    <div class="row pl-4 mt-4 pt-4">
        <h3>We value your Healthcare Products</h3>
        <div class="container-1 glass" style="border-radius: 3rem 3rem 0.5rem 0.7rem;">
            <div>
                <img src="../../assets/images/pharmacy/paracetamol.jpg" alt="">
                <h5 class="pl-5">Paracetamol</h5>
            </div>
            <div>
                <img src="../../assets/images/pharmacy/sinarest.jfif" alt="">
                <h5 class="pl-5">Cold</h5>
            </div>
            <div>
                <img src="../../assets/images/pharmacy/crocin.jpg" alt="">
                <h5 class="pl-5">Crocin</h5>
            </div>
            <div>
                <img src="../../assets/images/pharmacy/revital.jpeg" alt="">
                <h5 class="pl-5">Revital</h5>
            </div>
            <div>
                <img src="../../assets/images/pharmacy/antacid.webp" alt="">
                <h5 class="pl-5">Antacids</h5>
            </div>
            <div>
                <img src="../../assets/images/pharmacy/dettol.jpg" alt="">
                <h5 class="pl-5">Dettol</h5>
            </div>

        </div>
    </div>
</div>